/* search page css */
/*-----------------*/
.search-bar-wrapper .nav.nav-pills {
  border-bottom-color: transparent;
}

.search-bar-wrapper .nav.nav-pills .dropdown-menu {
  margin: 0.53rem;
}

.search-bar-wrapper .nav.nav-pills .nav-item {
  margin-bottom: 0.8rem;
}

.search-bar-wrapper .nav.nav-pills .nav-item .nav-link {
  display: flex;
  align-items: center;
}

.search-bar-wrapper .nav.nav-pills .nav-item .nav-link i {
  font-size: 1.4rem;
}

.search-bar-wrapper .search-bar .page-search-input .search-btn {
  /* search-bar button */
  position: absolute;
  top: 1px;
  right: 1px;
}

.search-bar-wrapper .search-bar .page-search-input .search-btn i {
  /* search-bar icon */
  top: 0;
  font-size: 1.6rem;
}

.search-bar-wrapper .search-results .swiper-container .swiper-slide {
  /* Swiper slide for video section */
  background-color: #FFFFFF;
  height: auto;
  max-width: 18.66rem;
  padding: 0.7rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.search-bar-wrapper .search-results .swiper-container .swiper-slide .slide-content .card-img-overlay i {
  color: rgba(255, 255, 255, 0.7);
}

.search-bar-wrapper .search-results .swiper-button-next:after,
.search-bar-wrapper .search-results .swiper-button-prev:after {
  border-radius: 50%;
  background-color: #5A8DEE;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5) !important;
}

.search-bar-wrapper .search-results .swiper-button-next.swiper-button-disabled,
.search-bar-wrapper .search-results .swiper-button-prev.swiper-button-disabled {
  display: none;
}
 .floatBotton{
  position: fixed;
  width: 55px;
  height: 55px;
  bottom: 5%;
  padding: .5rem .83rem!important;
  right: 15px;
  z-index: 99;
 }

 .tooltip {
  display: block !important;
  z-index: 10000;
}

.tooltip .tooltip-inner {
  background: black;
  color: white;
  border-radius: 16px;
  padding: 5px 10px 4px;
}

.tooltip .tooltip-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
  border-color: black;
  z-index: 1;
}

.tooltip[x-placement^="top"] {
  margin-bottom: 5px;
}

.tooltip[x-placement^="top"] .tooltip-arrow {
  border-width: 5px 5px 0 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.tooltip[x-placement^="bottom"] {
  margin-top: 5px;
}

.tooltip[x-placement^="bottom"] .tooltip-arrow {
  border-width: 0 5px 5px 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-top-color: transparent !important;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.tooltip[x-placement^="right"] {
  margin-left: 5px;
}

.tooltip[x-placement^="right"] .tooltip-arrow {
  border-width: 5px 5px 5px 0;
  border-left-color: transparent !important;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
  left: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.tooltip[x-placement^="left"] {
  margin-right: 5px;
}

.tooltip[x-placement^="left"] .tooltip-arrow {
  border-width: 5px 0 5px 5px;
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  right: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.tooltip.popover .popover-inner {
  background: #f9f9f9;
  color: black;
  padding: 24px;
  border-radius: 5px;
  box-shadow: 0 5px 30px rgba(black, .1);
}

.tooltip.popover .popover-arrow {
  border-color: #f9f9f9;
}

.tooltip[aria-hidden='true'] {
  visibility: hidden;
  opacity: 0;
  transition: opacity .15s, visibility .15s;
}

.tooltip[aria-hidden='false'] {
  visibility: visible;
  opacity: 1;
  transition: opacity .15s;
}

.dropzone .dz-message:before {
  top: 5.9rem !important;
}

#dropzone{border: 2px dashed #5a8dee;}

.dropzone .dz-message {
  text-align: center;
  margin: 0px !important;
}